.about-page{
    text-align: center;
    img.profile-img{
        height: 150px;
        border-radius: 50%;
    }
    .social-wrap{
        width: 250px;
        margin: 25px auto;
        img.linkenin{
            height: 25px;
            vertical-align: middle;
            margin: 0 5px;
        }
    }
}