.pokemon-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
}

.pokemon-list{
    p.heading{
        text-align: center;
        font-size: 24px;
        .region-name{
            text-transform: uppercase;
        }
    }
}