.header-container{
    padding: 15px 15px 10px 0px;
    display: flex;
    gap: 10px;
    > * { 
        flex: 1; 
    }

    .logo-wrap{
        img {    
            height: 60px;
        }
    }

    .navigation-wrap{
        flex: 3;
        ul{
            list-style: none;
            display: flex;
            justify-content: flex-start;
            padding: 0;
            align-items: center;
            text-align: center;
            li {
                flex: 1;
                display: flex;
                justify-content: center;
                flex-direction: column;
                a{
                    text-decoration: none;
                    color: #000;
                    border: 1px solid transparent;
                    border-radius: 5px;
                    padding: 5px;
                    &.active{
                        border-color: #000;
                    }
                }
                .region-dropdown{
                    display: flex;
                    flex-direction: column;
                    position: absolute;
                    background-color: aliceblue;
                    z-index: 5;
                    text-transform: uppercase;
                    top: 55px;
                    height: 200px;
                    overflow: auto;
                    -ms-overflow-style: none;  /* IE and Edge */
                    scrollbar-width: none;  /* Firefox */
                    &::-webkit-scrollbar {
                        display: none;
                      }
                    a{
                        color: cornflowerblue;
                        padding: 10px 20px 10px 10px;
                    }
                }
            }
        }
    }

    .search-wrap{
        flex: 2;
        display: flex;
        gap: 3px;
        align-items: center;
        .input-wrap{
            flex: 2;
            position: relative;
            input{
                padding: 10px;
                border: 0;
                outline: 0;
                background-color: #f0f0f0;
                border-radius: 5px;
                border: 1px solid #ccc;
                width: 270px;
                &:after{
                    content: 'X';
                }
            }
            span.error-msg{
                display: none;
                position: absolute;
                left: 0;
                top: 40px;
            }
            &.error{
                input{
                    border-bottom-color: coral;;
                }
                span.error-msg{
                    display: inline-block;
                    font-size: 12px;
                    color: coral;
                }
            }
        }
        button{
            padding: 10px;
            border: 0;
            border-radius: 50%;
            cursor: pointer;
            border: 1px solid #ccc;
        }
        .search-loading{
            height: 35px;
            animation: rotation 1s linear infinite;
        }
    }
}

@keyframes rotation {
    from {
       transform: rotate(0deg);
    }
    to {
       transform: rotate(360deg);
    }
 }


 @media only screen and (min-width: 769px) and (max-width: 1024px){
    .header-container{
        .navigation-wrap{
            flex: 2;
        }
        .search-wrap{
            flex: 1;
            .input-wrap{
                input{
                    width: 210px;
                }
            }
        }
    }
 }