#home{
    display: flex;
    flex-direction: column;
    h1{
        text-align: center;
    }
    .todays-pokemons{
        display: flex;
        justify-content: space-around;
        flex-basis: 370px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px){
    #home{
        h1{
            margin: 0;
            font-size: 28px;
        }
        .todays-pokemons{
            flex-basis: 345px;
        }
    }
}