@import './assets/styles/type-color.scss';

.App {
  // text-align: center;
  max-width: 1024px;
  margin: 0 auto;
  height: 100%;
  .main-content{
    min-height: calc(100vh - 187px);
    margin-bottom: 25px;
  }
}

html,body{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  &::-webkit-scrollbar {
      display: none;
  }
  background: #ebf0f3;
}

@media only screen and (min-width: 769px) and (max-width: 1024px){
  .App {
    .main-content{
      padding: 0 15px;
    }
  }
}

@media only screen and (min-width: 600px) and (max-width: 769px){
  .App {
    .main-content{
      padding: 0 15px;
      min-height: calc(100vh - 160px);
      margin-bottom: 0px;
    }
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .App {
    .main-content{
      padding: 0 15px;
      min-height: calc(100vh - 173px);
      margin-bottom: 0px;
    }
  }
}