.card-wrap{
    width: 300px;
    height: 300px;
    padding-top: 50px;
    margin-bottom: 20px;
    .card{
        border: 1px solid #ccc;
        border-radius: 5px;
        position: relative;
        height: 100%;
        cursor: pointer;
        img{
            max-width: 225px;
            max-height: 225px;
            position: absolute;
            top: -40px;
            left: 50%;
            transform: translateX(-50%);
            transition: transform 330ms ease-in-out;
        }
        div.content{
            position: absolute;
            bottom: 0;
            width: 100%;
            text-align: center;
            padding: 20px 0;
            .id{
                font-size: 22px;
                color: white;
            }
            .name{
                font-size: 26px;
                font-weight: 600;
                text-transform: uppercase;
                color: white;
                margin-bottom: 5px;
            }
            .type{
                display: inline-block;
                padding: 2px 5px;
                border-radius: 15px;
                background-color: transparent;
                margin: 0 5px;
                line-height: 1;
                font-size: 12px;
                text-transform: uppercase;
                background-color: transparent;
                color: #fff;
                border: 1px solid white;
                font-weight: 600;
            }
        } 
        &:hover{
            animation: shake 2s linear;
            img{
                transform: translateX(-50%) scale(1.2);
            }
        }
    }
}

@keyframes shake {
    0% { transform: rotate(2deg); }
    50% { transform: rotate(-1deg); }
    100% { transform: rotate(0deg); }
}