$primary-color: #ffffff;

/*pokemon type colors*/

$normal-primary: #A8A878;
$normal-secondary: #d3d3bb;

$fighting-primary: #C03028;
$fighting-secondary: #df9793;

$flying-primary: #A890F0;
$flying-secondary: #d3c7f7;

$poison-primary: #A040A0;
$poison-secondary: #cf9fcf;

$ground-primary: #E0C068;
$ground-secondary: #efdfb3;

$rock-primary: #B8A038;
$rock-secondary : #dbcf9b;

$bug-primary: #7bb820;
$bug-secondary : #BCDB8F;

$ghost-primary: #705898;
$ghost-secondary : #b7abcb;

$steel-primary: #B8B8D0;
$steel-secondary : #dbdbe7;

$fire-primary: #F08030;
$fire-secondary : #f7bf97;

$water-primary: #6890F0;
$water-secondary : #b3c7f7;

$grass-primary: #3ccc82;
$grass-secondary : #a9e8c8;

$electric-primary: #F8D030;
$electric-secondary : #fbe797;

$psychic-primary: #F85888;
$psychic-secondary : #fbabc3;

$ice-primary: #98D8D8;
$ice-secondary : #cbebeb;

$dragon-primary: #7038F8;
$dragon-secondary : #b79bfb;

$dark-primary: #705848;
$dark-secondary : #b7aba3;

$fairy-primary: #EE99AC;
$fairy-secondary : #f6ccd5;